<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Builder</title>
</head>
<body>
    <h4>Here is your resume!</h4>
    <br>
    <br>
    <spam><b>Name:</b></spam>
    {{detail.name}}
    <br>
    <br>
    <spam><b>Phone Number:</b></spam>
    {{detail.phone}}
    <br>
    <br>
    <spam><b>Email Address:</b></spam>
    {{detail.email}}
    <br>
    <br>
    <spam><b>School:</b></spam>
    {{detail.school}}
    <br>
    <br>
    <spam><b>Degree:</b></spam>
    {{detail.degree}}
    <br>
    <br>
    <spam><b>University</b></spam>
    {{detail.university}}
    <br>
    <br>
    <spam><b>Skill:</b></spam>
    {{detail.skill}}
    <br>
    <br>
    <spam><b>About You:</b></spam>
    {{detail.about_you}}
    <br>
    <br>
    <spam><b>Previous Work:</b></spam>
    {{detail.previous_work}}
</body>
</html>